[submodule "base"]
	path = base
	url = ../openbsd-port-base
	branch = main
[submodule "common"]
	path = common
	url = ../port-common
	branch = main
[submodule "user-generation1"]
	path = user-generation1
	url = ../../cpp-port/port-user-generation1
	branch = main
[submodule "imaging"]
	path = imaging
	url = ../port-imaging
	branch = main
